
.aboutMe{
    position: relative;
    top: 4rem;
    left: 10rem;
}
.about {
    
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;


    .about_img {
        width: 50%;
        height: 100vh;
       
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            filter: blur(2px);
          border-radius: 20%;
        width: 300px;
        &:hover{
            filter: blur(0);
            cursor: pointer;
        }
      }
    }
    .about_intro {
      width: 50%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      flex-direction: column;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 900;
      p {
        font-size: 3rem;
      
      }
      h2{
    font-size: 1.7rem;
      }
  
      .about_github {
        text-decoration: none;
        color: black;
  
        border: 1px solid black;
        padding: 0.5rem;
        // border-radius: 2rem;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  
}

@media (max-width: 786px) {
  .about {
    flex-direction: column;
  }
  .about_img {
    img {
      width: 200px;
    }
  }
  .about_intro {
    p {
      padding: 1rem;
      font-size: 1rem;
    }
  }
}
