

.header{
    width: 100%;
    height: 10vh;
    
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    font-size: 1.2rem;
    

    .github{
        a{
            color: rgb(70, 66, 66);
            font-size: 2rem;
            &:hover{
                color: black;
            }
        }
    }
}