.home2{
    width: 100%;
    height: 100vh;
    background-color: rgb(246, 246, 246);
    color: rgb(5, 4, 4);

    display: flex;
    justify-content: center;
    align-items: center;


    .home2_left{
        img{
            width: 400px;
        }

        
    }
    .home2_right{
        h1{
            font-size: 3rem;
            margin-bottom: 4rem;
            span{
                background-color: black;
                color: white;
                padding: 1rem;
                cursor: pointer;
                &:hover{
                    background-color: white;
                    border: 1px solid black;
                    color: black;
                }
            }
        }
        p{
            padding: 1rem;
            font-size: 1.2rem;
            span{
                font-size: 1.7rem;
                font-weight: 800;
                padding: 0.4rem;
                cursor: pointer;
            }
        }
    }
}