
.home{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(41, 39, 39);

    .homeLeft{
        display: flex;
        width: 90%;
        height: 80vh;
        align-items: center;
        justify-content: center;
        font-size: 7rem;
        
       text-transform: uppercase;
     .textMove{
        font-size: 1rem;
        position: relative;
        top: 12rem;
     }
       
    }
   
}
@media (max-width: '786px') {
    .home{
      height: 70vh;
     
        .homeLeft{
           flex-direction: column;
           font-size: 2rem;
           .textMove{
        
           top: 2rem;
           }
        }
    }
}