.projects{
   
    width: 90%;
   min-height: 100vh;
   flex-direction: column;
   display: flex;
//    background-color: aqua;
.project{
    text-align: end;
}
   a{
    width: 100%;
       cursor: pointer;
       padding: 3rem;
       color: rgb(182, 171, 171);
       text-decoration: none;
      
        &:hover{

            border: 2px solid black;
            color: transparent;
        }
      }

       .p1{
           &:hover{
               background: url('../assets/socialBG.png');
               background-size: contain;
               background-repeat: no-repeat;
               background-position:right;
               transition: all 1s;
               
            }


        }
        .p2{
            &:hover{
                background: url('../assets/socialBG.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position:right;
                transition: all 1s;
             }
 
 
         }
         .p3{
            &:hover{
                background: url('../assets/movieBG.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position:right;
                transition: all 1s;
             }
 
 
         }
         .p4{
            &:hover{
                background: url('../assets/epfoBG.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position:right;
                transition: all 1s;
             }
 
 
         }
         .p5{
            &:hover{
                background: url('../assets/chaiwalaBG.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position:right;
                transition: all 1s;
             }
 
 
         }
    }

