.projects{
    h1{
        margin: 2rem;
        padding-left: 7rem;
        font-size: 1rem;
    }
    width: 90%;
   min-height: 100vh;
   .project{
        cursor: pointer;
        background-color: red;
        padding: 3rem;
        img{
            display: none;
         
        }
        &:hover{
            border: 2px solid black;
            

        }
    }

}