@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Nosifer&display=swap");

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;


}
::-webkit-scrollbar{
  display: none;
}

body{
  color: rgb(244, 240, 240);
  background-color: black;
  width: 100%;
  // height: 100vh;
  font-family: "Glass Antiqua", cursive;
  font-family: "Nosifer", sans-serif;
 
}
