.portfolio {
  width: 100%;
  height: 100vh;
//   min-height: 100vh;
  background-color: rgb(24, 23, 23);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  .portfolio_text {
    font-size: 14rem;
    letter-spacing: 22px;
    z-index: 99;
    color: rgb(127, 122, 122);
    display: flex;
    cursor: pointer;
    .port{

        .port_text_hover {
            &:hover {
                color: white;
            }
      }
    }
    .folio {
      color: rgb(57, 50, 50);
      background-color: rgb(201, 198, 195);
      .port_text_hover2{
        &:hover{
            color: black;
        }
      }
    }
  }
 
}


@media  (max-width: 786px) {
    .portfolio{
        height: 50vh;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        .portfolio_text{
            flex-direction: column;
            font-size: 2rem;
            overflow: hidden;

            .folio{
                position: relative;
                left: 1.3rem;
                margin: 1rem;
            }
        
        }
    }
}